/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}


/* Landing Page Styles*/
.main-container {
	height: 100vh;	 
}

.jumbotron{
	background-color: #f6ec35;
}

.jumbotron > .container {
	background-color: #d11013;
	margin: 0 auto;
	padding: 2em;
}

.welcome-text {
	margin: 2em auto 0 auto;
}
.welcome-text h1 {
	background-color: white;
	text-align: center;
	font-size: 1.5rem;
	padding: 0.5em;
	border-radius: 5px;
}
.img-container {
	border: 5px solid #f6ec35;
	background-color: white;
	border-radius: 50%;
	padding: 10%;
	margin:  2em auto 0 auto;
	border-radius: 50%;
}
img {
	display: block;
	width: 100%;
}

@font-face {
    font-family: origami_making;
    src: url(../origami_making.ttf);
}

.origami-font {
    font-family: origami_making;
}

.btn-container, button {
	margin: 2em auto;
}

.btn-container a, .btn-container a:hover {
	text-decoration: none;
	color: black;
}


/********************************************************/

/* Home Page Styles */

footer {
	background-color: #d11013;
}

footer li {
	list-style: none;
}

footer a, footer a:hover {
	text-decoration: none;
	color: black;
}

footer>.social-links {

}

footer #copyright {
	text-align: center;
}

/********************************************************/