 General Styles for pages*/

/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}
/* header styles */
.navbar-brand {
	font-family: origami_making;
}

.bg-danger {
	color: #d11013;
}

.navbar a {
	color: #f2f2f2;
}


/* main content styles*/
#page-content, #contact-form {
	padding-top: 4em;
}

#location-container {
	padding-top: 4em;
	padding-bottom: 4em;
}
/* footer styles */
footer {
	background-color: #d11013;
	color: #f2f2f2;
	font-weight: bold;
	padding: 1em 0;
	text-align: center;
}

footer li {
	list-style: none;
}

footer a, footer a:hover {
	text-decoration: none;
	color: #f2f2f2;
}

#contact-details, #social-media {
	text-align: center;
	color: #f2f2f2;
	font-family: origami_making;
	letter-spacing: 5px;
	padding-top: 1em;
}

footer .fab {
	padding: 0 0.5em;
}
#copyright {
	padding: 2em;
}


/********************************************************/


/* Landing Page Styles*/

.main-container {
	height: 100vh;	 
}

.jumbotron{
	background-color: #f6ec35;
}

.jumbotron > .container {
	background-color: #d11013;
	/*margin: 0 auto;*/
	/*padding: 2em;*/
}

.welcome-text {
	margin: 2em auto 0 auto;
}
.welcome-text h1 {
	background-color: white;
	text-align: center;
	/*font-size: 1.5rem;*/
	/*padding: 0.5em;*/
	border-radius: 5px;
}
.img-container {
	border: 5px solid #f6ec35;
	background-color: #f2f2f2;
	border-radius: 50%;
	margin:  2em auto 0 auto;
}
img {
	display: block;
	width: 100%;
}

@font-face {
    font-family: origami_making;
    src: url(../origami_making.ttf);
}

.origami-font {
    font-family: origami_making;
}


.btn-container a, .btn-container a:hover {
	text-decoration: none;
	color: #141414;
}


/********************************************************/

/* Home Page Styles */


/********************************************************/

/********************************************************/

/* About Page Styles */
/*.jumbotron {
	background-color: #141414; /*off black*/
	/*height: 90vh;*/
/*	border-radius: 0;
}*/

/*#about-landing {
	color: #f2f2f2; /*off white*/
/*	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}

#mission {
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
}

#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}

.about-tags {
	font-weight: bold;
}*/

/********************************************************/
/* Contact Page Styles */

#page-title {
	text-align: center;
	font-family: origami_making;
	letter-spacing: 5px;
}

label, #form-message-title, #location-title {
	font-family: origami_making;
	letter-spacing: 5px;
}


/*******************************************************